<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="Exposed" level="debug">
        <appender-ref ref="jsonConsoleAppender"/>
    </logger>

    <root level="info">
        <appender-ref ref="jsonConsoleAppender"/>
    </root>
</configuration>