name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version"
        required: true

jobs:
  publish-jar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Publish artifact
        run: >-
          ./gradlew publish
          -PossrhUsername=${{ secrets.OSSRH_USERNAME }}
          -PossrhPassword=${{ secrets.OSSRH_PASSWORD }}
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.MAVEN_SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.MAVEN_SIGNING_KEY_PASSWORD }}


#  create-release:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout the repo
#        uses: actions/checkout@v2
#      - name: Generate changelog
#        uses: charmixer/auto-changelog-action@v1.1
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#      - name: Read changelog
#        id: changelog
#        uses: juliangruber/read-file-action@v1
#        with:
#          path: ./CHANGELOG.md
#      - name: Create GitHub release
#        uses: actions/create-release@v1.1.4
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          tag_name: ${{ github.event.inputs.version }}
#          release_name: Release ${{ github.event.inputs.version }}
#          body: ${{ steps.changelog.outputs.content }}
#          draft: false
